@{
    ViewBag.Title = "Ego.PDF";
}
@section featured {
    <div class="hero-unit">
        <a href="https://github.com/marcoregueira/EgoPDF" style="z-index: 996; float: right; position: relative; top: -62px; right: -62px; border: 0;">
            <img style="border: 0;float: right; z-index: 996; " src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
        </a>
        <h2>
            <b>Ego.PDF</b> is a C# library to generate Pdf documents on the fly
        </h2>
        <p>
            Ego.PDF is a port of <a href="http://fpdf.org" title="FPDF Website">FPDF</a> for PHP. Learn more about FPDF visiting its <a href="http://fpdf.org" title="FPDF Website">home site</a>.
        </p>
        <p>
            @*<a class="btn btn-primary btn-large" title="Get started" href="/home/samples">Get started</a>*@
            <a class="btn btn-inverse btn-large" title="Download from GitHub" href="https://github.com/marcoregueira/EgoPDF/zipball/master">Download from GitHub</a>

        </p>
    </div>
}
<div class="row-fluid">

    <div class="span12">
        <h2>
            Tutorial
        </h2>
        <p>
            Currently, Ego.PDF status is work in progress. Fist milestone is recreate all samples
            in FPDF <a href="http://www.fpdf.org/en/tutorial/index.php">tutorial</a>.
        </p>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                </th>
                <th>
                    Original FPDF sample
                </th>
                <th>
                    Ego.PDF implementation & variations
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <b>Sample 1</b>. Minimal example
                </td>
                <td>
                    Tutorial 1
                </td>
                <td>
                    @Html.ActionLink("Tutorial 1", "GetSample1", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="1"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sample 2</b>. Header, footer, page break and image
                </td>
                <td>
                    Tutorial 2
                </td>
                <td>
                    @Html.ActionLink("Tutorial 2 (png image)", "GetSample2", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="2"></i>
                    <br />
                    @Html.ActionLink("Tutorial 2 (png image with alpha channel)", "GetSample2b", null, new { @class = "link_out" })<br />
                    @Html.ActionLink("Tutorial 2 (jpg image)", "GetSample2c", null, new { @class = "link_out" })
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sample 3</b>. Line breaks and colors
                </td>
                <td>
                    Tutorial 3
                </td>
                <td>
                    @Html.ActionLink("Tutorial 3", "GetSample3", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="3"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sample 4</b>. Multi-columns
                </td>
                <td>
                    Tutorial 4
                </td>
                <td>
                    @Html.ActionLink("Tutorial 4", "GetSample4", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="4"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sample 5</b>. Tables
                </td>
                <td>
                    Tutorial 5
                </td>
                <td>
                    @Html.ActionLink("Tutorial 5", "GetSample5", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="5"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sample 6</b>. Links and flowing text
                </td>
                <td>
                    Tutorial 6
                </td>
                <td>
                    @Html.ActionLink("Tutorial 6", "GetSample6", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="6"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Sample 7</b>. Adding new fonts and encoding support
                </td>
                <td>
                    Tutorial 7
                </td>
                <td>
                    Tutorial 7
                </td>
            </tr>
            </tbody>
        </table>
        <h2>
            New samples
        </h2>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                </th>
                <th>
                    New sample
                </th>
                <th>
                    Implementation
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <b>Sample 1</b>. Tutorial 8. Invoice
                </td>
                <td>
                        
                </td>
                <td>
                    @Html.ActionLink("Invoice", "GetSample8", null, new { @class = "link_out" })
                    <i class="icon-list-alt sampleSource link_out" data-sample="1"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




